name: asyncFunctionDeclaration
phrase: async funk
insertionScope: statement
---

language: javascript | javascriptreact
-
async function $1($2) {
    $0
}
---

language: typescript | typescriptreact
-
async function $1($2): Promise<$3> {
    $0
}
---
