language: javascript | typescript | javascriptreact | typescriptreact
---

name: constObjectDeclaration
phrase: object
insertionScope: statement

$1.insertionFormatter: PRIVATE_CAMEL_CASE
-
const $1 = {
    $0
};
---
